@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    
    margin: 0;
    min-height: 100vh;
    background-image: url(../images/background.jpg);
    background-size:cover ; 
    background-repeat: no-repeat;
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #BAB3ABff;
   
    
}


h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 800;
    text-align: center;
}

    
 .prkey {
    
        margin-left: 20px;
        color: white;
    
 }   
    
h1 {
    
    font-size: 6em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(163, 159, 159);
}

header{
top: 0;
padding: 10px 0;
    
    }


#soundButton{
background-color: #080808;
color: #fff;
}




.game_box {
    background-color: rgba(59, 58, 58, 0.8);
    margin-bottom: 10px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 480px;
    align-content: center;
    display : block;
    
    
}


#wrong-letters {
    top: 120px;
    position: absolute;
    right: 10px;
}


#game input {
    padding: 0.5rem;
    margin: 0.3rem;
    background-color: rgb(163, 159, 159);
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    
}

#username-area label {
    padding: 0.5rem;
    margin: 0.3rem;
    font-size: 1.2rem;
}

.btn {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: rgb(163, 159, 159);
    border: 1px solid black;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

#rules {
    font-size: 1.2rem;
    font-weight: 500;
    list-style-type: disc;
    text-align: left;
    padding-left: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

 li {
    list-style-type: none; 
 }   


footer {
    width: 100%;
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 50px;
    background-color: rgba(61, 61, 59, 0.4);

}

#Welcome_text {
    
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: xx-large !important; 

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    padding-left: 2rem;
    padding-right: 2rem;
}

.social-networks i {
    font-size: 160%;
   
    color: #0a0a0a;
}



#game-container{
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
    display:none ;
}

.figure-container{
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part{
    display: none;
}

.wrong-letters-container{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #fff;
    
}

section {
    
    height: auto;
}

.wrong-letters-container p{
    margin: 0 0 5px;
}

.wrong-letters-container span{
    font-size: 24px;
}

.word{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.letter{
    border-bottom: 3px solid #ffffff;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
    color:#ffffff
}

.popup-container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup{
    background-color: #545557;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}

.popup button{
    cursor: pointer;
    background-color: #6b6767;
    color: #080808;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}

.popup button:active{
    transform: scale(0.98);
}

.popup button:focus{
    outline: 0;
}

.notification-container{
    background-color: rgba(56, 55, 55, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position:fixed;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
}

#mobileKeyboard {
text-align: center;
}


.notification-container p{
    margin: 0;
    color: #fff;
}

.notification-container.show{
    transform: translateY(-50px);
}



@media screen and (min-width: 1000px) {

    #levelchoice-area li:hover{
        background-color: #B6A48Dff;
        cursor: pointer;
    }

    #quiz-area li:hover {
        background-color: #B6A48Dff;
        cursor: pointer;
    }
        
    .btn:hover {
        background-color: #B6A48Dff;
        cursor: pointer;
    }
}

@media screen and (max-width: 450px) {

    .game_box {
        width: 90%;
    }

    #game input {
    width: 80%;
    }

    

    body {
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
        .column {
          
          width: 90%;
          column-count: 1;
        }
      }

      @media screen and (max-width: 800px){
        #logo{
            font-size: 3em;
            margin-left: 1rem;
            margin-top: 10px;
            }

        .social-networks>li {
            padding-left: 1rem;
            padding-right: 1rem; 
        }

        .game_box {
            margin-left: 1rem;
            max-height: 400px;
        }

        .figure-container {
            margin-left: 2rem;

        }

        #Welcome_text {
            margin-left: 4rem;
        }

        .wrong-letters-container p {
            text-align: center;
        }

        .popup {
            margin-right: 2.7rem ;
            margin-left: 40px;
        }
        .wrong-letters-container{
        text-align: center;
        margin-right: 5rem;
        }

        html {
            height: 100%;
            overflow-y: scroll;
          }
         

        body {
            overflow: hidden;
           height: 100% ;
          }

        li {
            
        font-size: medium;
    }
      }



    @media screen and (max-width: 400px) {
        body {
            height: 100% ;
            
        }

        #logo{
            font-size: 2em;
        }

        li {
            
            font-size: medium;
        }

        .notification-container {
            bottom: -60px;   
        }

    }










